@using modelkullanimi.Models
@model AnaModel
    <div class="col-sm-12">
        <div class="col-sm-6">
            <div class="row row-cols-2">
                <div class="card">
                    <div class="card-header">
                        AnaModel' in Yazısı
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>@Model.anamodel_yazi</p>
                            <footer class="blockquote-footer">Gösterilen yazı&nbsp;&nbsp;<cite title="Source Title">AnaModel</cite></footer>
                        </blockquote>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    About Controller Mesajları
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>@ViewBag.Message</p>
                        <p>@ViewBag.Message2</p>
                        <footer class="blockquote-footer">Gösterilen yazılar&nbsp;&nbsp;<cite title="Source Title">Message,Message2</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>

<div class="col-sm-12">
    <div class="col-sm-3">
        <ul class="list-group">
            <li class="list-group-item active" aria-current="true">AnaModel içindeki altmodel1</li>
            <li class="list-group-item">Sayı  -->@Model.altmodel1.altsayi1</li>
            <li class="list-group-item">Yazı1 -->@Model.altmodel1.altyazi1</li>
            <li class="list-group-item">Yazı11-->@Model.altmodel1.altyazi11</li>
        </ul>
    </div>
    <div class="col-sm-9" style="border:solid 1px;">
        <div class="row row-cols-3">
            @foreach (var item in Model.altmodel2)
            {<div class="col-sm-4">
                    <ul class="list-group ">
                        <li class="list-group-item active" aria-current="true">AnaModel içindeki altmodel2(@item.ID)</li>
                        <li class="list-group-item">Sayı  -->@item.altsayi2</li>
                        <li class="list-group-item">Yazı1 -->@item.altyazi2</li>
                        <li class="list-group-item">Yazı11-->@item.altyazi21</li>
                    </ul>
                </div>
            }

        </div>
    </div>
</div>

